/* CSS Document */
.product {
  height: 200px;
  position: relative;
}

.product-cover,
.product img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.product-cover,
.product img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.product-cover-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(239, 147, 46, 0.7);
}
