/*CSS Document*/
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
  transition: all 0.3s !important;
}

body,
html {
  height: 100%;
  /* font-size: 14px !important; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif !important;
  /* font-family: "Montserrat", sans-serif !important; */
}

a {
  text-decoration: none !important;
  color: #212529;
  box-shadow: none;
  background: inherit !important;
}

a,
a:hover,
a.active {
  color: #ef932e;
}

a:hover,
a.active {
  font-weight: 600 !important;
}

p {
  margin: 0;
}

#pills-tabContent footer {
  position: fixed;
  bottom: 0;
  width: inherit;
}

.pointer {
  box-shadow: none;
}

.btn,
button,
.btn:focus,
button:focus,
.btn:hover,
button:hover {
  font-weight: 500;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-brand {
  /* font-family: "Eczar", serif; */
}

.form-control,
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  font-family: "Montserrat", sans-serif !important;
}

.border-primary {
  border-color: #ef932e !important;
}

.bg-primary,
.btn-primary {
  background: #ef932e !important;
}

.btn-primary,
.btn-primary:hover {
  color: #fff !important;
}

.btn-outline-primary {
  color: #ef932e !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background: #ef932e !important;
}

.btn-link {
  box-shadow: none !important;
  color: #ef932e !important;
  font-weight: bold !important;
  padding-left: 0 !important;
  text-decoration: none !important;
}

.bg-transparent {
  background: rgba(239, 147, 46, 0.7) !important;
}

.bg-light {
  /*background: #fefbf6 !important;*/
  /*background: #f3eded !important;*/
  background: #fbf9f9 !important;
}

.text-primary {
  color: #ef932e !important;
}

.text-ash {
  color: #ccc;
}

.btn {
  border: none;
}

.card-columns {
  column-count: 2;
}

.card-columns.card-columns-double,
.card-group.card-group-double {
  column-count: 2 !important;
}

.card-columns.card-columns-3 {
  column-count: 3 !important;
}

.card-select {
  cursor: pointer !important;
}

.pointer {
  cursor: pointer !important;
}

.clear {
  clear: both;
}

.no-Link {
  text-decoration: none !important;
}

.v-parent {
  position: relative;
  border: 1px solid red;
  width: 100%;
}

.v-child {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  border: 1px solid red;
}

.d-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.v-assist {
  z-index: 2;
  bottom: 75px;
  right: 30px;
  display: none;
}

.v-assist section {
  min-height: 300px;
}

.img-holder {
  overflow: hidden;
}

.img-holder.img-holder-user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

#questionMark {
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 2147483643;
}

.modal,
.modal > div {
  z-index: 2147483644 !important;
  background: rgba(0, 0, 0, 0.2);
}

/* Loading screen style */
.sc-htpNat {
  position: fixed !important;
  /* z-index: 2147483638 !important; */
  height: 100% !important;
}

@media (min-width: 576px) {
  .card-columns.card-columns-two {
    column-count: 2 !important;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3 !important;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important;
  }
}

@media (min-width: 1198px) {
  .card-columns {
    column-count: 6 !important;
  }
}
