/* CSS Document */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
  transition: all 0.05s;
}

body,
html {
  height: 100%;

  /* font-size: 14px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;

  /* font-family: "Montserrat", sans-serif !important; */
}

a {
  text-decoration: none !important;
  color: #212529;
  box-shadow: none;
  background: inherit;
}

a,
a:hover,
a.active {
  color: #ef932e;
}

a:hover,
a.active {
  font-weight: 600;
}

p {
  margin: 0;
}

#pills-tabContent footer {
  position: fixed;
  bottom: 0;
  width: inherit;
}

.pointer {
  box-shadow: none;
  cursor: pointer;
}

.btn,
button,
.btn:focus,
button:focus,
.btn:hover,
button:hover {
  font-weight: 500;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
}

.form-control,
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 100 #fff inset;
  font-family: "Montserrat", sans-serif;
}

.border-primary {
  border-color: #ef932e;
}

.bg-primary,
.btn-primary {
  background: #ef932e;
}

.btn-primary,
.btn-primary:hover {
  color: #fff !important;
}

.btn-outline-primary {
  color: #ef932e !important;
}

.btn-outline-primary:hover {
  color: #fff;
  background: #ef932e !important;
}

.btn-link {
  box-shadow: none;
  color: #ef932e;
  font-weight: bold;
  padding-left: 0;
  text-decoration: none;
}

.bg-transparent {
  background: rgba(239, 147, 46, 0.7);
}

.bg-light {
  background: #fbf9f9;
}

.bg-warning {
  background: #ffdcb0;
}

.text-primary {
  color: #ef932e !important;
}

.text-ash {
  color: #ccc;
}

.card-columns {
  column-count: 2;
}

.card-columns .card {
  display: inline-block;
}

.card-columns.card-columns-double,
.card-group.card-group-double {
  column-count: 2 !important;
}

.card-columns.card-columns-3 {
  column-count: 3 !important;
}

.card-select {
  cursor: pointer;
}

.clear {
  clear: both;
}

.no-Link {
  text-decoration: none !important;
}

.v-parent {
  position: relative;
  border: 1px solid red;
  width: 100%;
}

.v-child {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  border: 1px solid red;
}

.d-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.v-assist {
  z-index: 2;
  bottom: 75px;
  right: 30;
  display: none;
}

.v-assist section {
  min-height: 300;
}

.img-holder {
  overflow: hidden;
}

.img-holder.img-holder-user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

#questionMark {
  bottom: 30;
  right: 30;
  cursor: pointer;
  z-index: 2147483643;
}

.modal,
.modal > div {
  z-index: 2147483644;
  background: rgba(0, 0, 0, 0.2);
}

/* Loading screen style */
.sc-htpNat {
  position: fixed;

  /* z-index: 2147483638 !important; */
  height: 100%;
}

@media (min-width: 576px) {
  .card-columns.card-columns-two {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important;
  }
}

@media (min-width: 1198px) {
  .card-columns,
  .card-columns.products {
    column-count: 6;
  }

  .category .card-columns,
  .category .card-columns.products {
    column-count: 4;
  }
}
