/*Header CSS*/
body#body main #app #header {
}

body#body main #app #header ul li a,
body#body main #app #header ul li a:hover,
body#body main #app #header ul a li,
body#body main #app #header ul a li:hover {
  color: #ef932e;
}

body#body main #app #searchDropDown li:hover a,
body#body main #app #searchDropDown li:hover link {
  background: #fffff0;
  text-decoration: none;
}

body#body main #app #cartCount {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #ef932e;
  font-weight: 700;
  padding: 3px 1px;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  body#body main #app .search-bar {
    visibility: visible;
  }
}
