body#body .card-columns.gender .fas,
body#body .card-columns.gender .fab,
body#body .card-columns.gender .far {
  font-size: 2em;
}

body#body .card-columns.gender .fas,
body#body .card-columns.gender .fab,
body#body .card-columns.gender .far {
  font-size: 2em;
}

@media (min-width: 576px) {
  body#body .card-columns.gender {
    column-count: 3;
  }
}
