body#body main #app #dashboardHeader {
  width: 100%;
  z-index: 4;
}

body#body main #app #userSide {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

body#body main #app #userSide.user-side-main {
  z-index: 3;
}

body#body main #app #userNav li a {
  padding: 12px;
  margin-bottom: 10px;
  color: #fff;
}

body#body main #app #userNav li a:hover {
  padding: 15px 15px 15px 25px;
  border-radius: 22px 0 0 22px;
  color: #fff;
}

body#body main #app #userNav li a.active {
  padding: 15px 15px 15px 25px;
  background: #fff;
  color: #ef932e;
  border-radius: 22px 0 0 22px;
  font-weight: bolder;
}

body#body main #app #userSide .img-holder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

body#body main #app .user-side-main #userNav li a:hover,
body#body main #app .user-side-main #userNav li a.active {
  padding: 9.33px 35px;
}

body#body main #app #userNav li a:hover .img-holder,
body#body main #app #userNav li a.active .img-holder {
  transform: scale(1.1);
  border: 2px solid #ef932e;
}

body#body main #app .user-notification {
  position: relative;
  top: 8px;
  font-size: 40px;
}

body#body main #app .user-section {
  padding: 40px 2.5%;
  margin-top: 36px;
}

body#body main #app #pills-tabContent {
  overflow: hidden;
}

body#body main #app small.message {
  width: 30%;
  display: block;
}

body#body main #app #messageFooter {
  bottom: 0;
  width: auto;
}

body#body main #app .message-div {
  position: relative;
  left: -2.5%;
}

body#body main #app .chat-form-holder {
  bottom: 15px;
  width: 100%;
  left: -0.5%;
}

body#body main #app .chat-form-holder > div {
  padding: 0;
}

@media (min-width: 768px) {
  body#body main #app #dashboardHeader {
    width: 75%;
    z-index: 4;
  }

  body#body main #app #userNav li a:hover,
  body#body main #app #userNav li a.active {
    padding: 12px 45px;
  }

  body#body main #app .user-side-main #userNav li a.active {
    background: #fff;
  }

  body#body main #app #userSide .img-holder {
    position: relative;
    float: left;
    top: -3.5px;
    width: 45px;
    height: 45px;
  }

  body#body main #app #userNav li a:hover .img-holder,
  body#body main #app #userNav li a.active .img-holder {
    transform: scale(1);
    border: 1px solid #ccc;
  }

  body#body main #app .message-div {
    left: 2.5%;
  }

  body#body main #app .chat-form-holder {
    padding: 0 30px;
    left: 0;
  }
}

@media (min-width: 992px) {
  body#body main #app #dashboardHeader {
    width: 83.33%;
  }

  body#body main #app .message-div {
    left: 1%;
  }
}
