/*Header CSS*/
#header {
  z-index: 2147483642;
}

#header ul li a,
#header ul li a:hover,
#header ul a li,
#header ul a li:hover {
  color: #ef932e !important;
}

#searchDropDown li:hover a,
#searchDropDown li:hover link {
  background: #fefbf6 !important;
  text-decoration: none !important;
}

#cartCount {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #ef932e;
  font-weight: 700;
  padding: 3px 1px;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .search-bar {
    visibility: visible !important;
  }
}
