/*Header CSS*/
#header {
  z-index: 2147483642;
}

#header ul li a,
#header ul li a:hover,
#header ul a li,
#header ul a li:hover {
  color: #ef932e !important;
}

#searchDropDown li:hover a,
#searchDropDown li:hover link {
  background: #fefbf6 !important;
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .search-bar {
    visibility: visible !important;
  }
}
