/*CSS Document*/
/* .cart-body {
  min-height: 60%;
} */

.img-holder.img-holder-cart {
  width: 150px;
  height: 150px;
}
.img-holder.img-holder-cart img {
  height: 100%;
}

@media (min-width: 768px) {
  .cart-img {
    width: 25%;
  }
}
