#dashboardHeader {
  width: 100%;
  z-index: 4;
}

#userSide {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

#userSide.user-side-main {
  z-index: 3;
}

#userNav li a {
  color: #8b8888;
  padding: 12px;
  margin-bottom: 10px;
}

#userNav li a:hover,
#userNav li a.active {
  padding: 15px 15px 15px 25px;
  background: #fff;
  color: #ef932e;
  border-radius: 22px 0 0 22px;
}

.user-side-main #userNav li a:hover,
.user-side-main #userNav li a.active {
  padding: 9.33px 35px;
}

#userNav li a:hover .img-holder,
#userNav li a.active .img-holder {
  transform: scale(1.1);
  border: 2px solid #ef932e;
}

.user-notification {
  position: relative;
  top: 8px;
  font-size: 40px;
}

#userSide .img-holder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

#pills-tabContent {
  overflow: hidden;
}

small.message {
  width: 30%;
  display: block;
}

#messageFooter {
  bottom: 0;
  width: auto;
}

.message-div {
  position: relative;
  left: -2.5%;
}

.chat-form-holder {
  bottom: 15px;
  width: 100%;
  left: -0.5%;
}

.chat-form-holder > div {
  padding: 0;
}

@media (min-width: 768px) {
  #dashboardHeader {
    width: 75%;
    z-index: 4;
  }

  #userNav li a:hover,
  #userNav li a.active {
    background: #fbf9f9;
    padding: 12px 45px;
  }

  .user-side-main #userNav li a:hover,
  .user-side-main #userNav li a.active {
    background: #fff;
  }

  #userSide .img-holder {
    position: relative;
    float: left;
    top: -3.5px;
    width: 45px;
    height: 45px;
  }

  #userNav li a:hover .img-holder,
  #userNav li a.active .img-holder {
    transform: scale(1);
    border: 1px solid #ccc;
  }

  .message-div {
    left: 2.5%;
  }

  .chat-form-holder {
    padding: 0 30px;
    left: 0;
  }
}

@media (min-width: 992px) {
  #dashboardHeader {
    width: 83.33%;
  }

  .message-div {
    left: 1%;
  }
}
